# Core functionality - changes here should be rare!
/src/app.py                   @davislayla350
/src/backend/database.py      @davislayla350
/src/backend/routers/auth.py  @davislayla350

# The frontend will need refactored soon to be more object oriented.
/src/static/   @davislayla350
